@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: #f0efef;
    color: #333333;
    font-family: 'Inconsolata', monospace;
}