.Pokedex{
    text-align: center;
    margin: 2rem;
}
.Pokedex-header{
    text-align: center;
}
.Pokedex-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}

.Pokedex-winner{
    font-size: 2rem;
    font-weight: bold;
    color:#94aa2a;
    margin: 0px;
}

.Pokedex-loser{
    font-size: 2rem;
    font-weight: bold;
    color:#90303d;
    margin: 0px;
}