.Pokedex-header{
    text-align: center;
}
.Pokedex-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}








/* .Pokedex{
    background-color: #e9e2d0;
    text-align: center;
    color: #6e5773;
} */